<!DOCTYPE html>
<html>
    <head>
        <title>Cindy Peng's Blog</title>
    </head>
    <body>
    	<div>
        	<h1>Cindy's Blog</h1>
        </div>
        <div>
        	<h2>Happy New Year's</h2>
        	<p>It's the year of the rooster I think. It's weird that it's 2017 already. My family and I still sing Christmas songs, so it doesn't feel like 2016 is over.</p>
        	<p>published: 1/02/2017</p>
        </div>
        <div>
        	<h2>Bastion</h2>
        	<p>Steam has their winter sale right now, and lots of older games cost less than $5. I bought Bastion, which was popular back in 2012, and I really like it. The music is awesome. The end theme is my favorite (sooo good, I replay it a lot). The art is also beautiful, and the controls for the PC game are done well so that running around is smooth. My favorite weapons were the hammer and the carbine. I liked how the game can have different levels of difficulty with the gods so that the game is enjoyable and playable for anyone. In the future I'll definitely play it over again :)</p>
        	<p>I also bought from the Steam store Portal 1 & 2, FTL, and Undertale. I finally have Undertale, which I played a little of on my friend's computer, and I always wanted to know what's so great about Portal hahah</p>
        	<p>published: 1/02/2017</p>
        </div>
    </body>
</html>